torch>=2.4.0
torchvision
transformers==4.48.2
accelerate==1.3.0
bitsandbytes==0.45.1
qwen-vl-utils

sentence-transformers
numpy

fastapi
uvicorn
python-multipart
pydantic-settings

Pillow
python-dotenv